{% extends "base.html" %}

{% block content %}
    {% for article in articles_page.object_list %}
        <article id="text__paragraphs">
            <header>
                <h1>{{ article.title }}</h1>
            </header>
            <div>
                <p>
                    {{ article.content }}
                </p>
            </div>
            <footer>
                <time> {{ article.date | strftime ('%B %d, %Y') }}</time>
            </footer>
        </article>
    {% endfor %}
{% endblock %}
